---
---

$thumb-size: 255px; // Desktop image size
$wrap: 800px;

.citation {
  display: flex;
  align-items: center; // Vertically center the image
  margin: 25px 0;
  border-radius: var(--rounded);
  background: var(--background);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.citation-image {
  position: relative;
  width: $thumb-size;
  height: calc(#{$thumb-size} * 0.75); // 4:3 aspect ratio for desktop
  flex-shrink: 0;
}

.citation-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.citation-text {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  height: min-content;
  padding: 20px;
  padding-left: 30px;
  text-align: left;
  overflow-wrap: break-word;
  z-index: 0;
}

.citation-title,
.citation-authors,
.citation-details,
.citation-description {
  width: 100%;
  line-height: 1.2;
}

.citation-title {
  font-weight: var(--semi-bold);
}

.citation-text > .icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--light-gray);
  opacity: 0.5;
  font-size: 30px;
  z-index: -1;
}

.citation-description {
  color: var(--gray);
}

.citation-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.citation-buttons .button {
  margin: 0;
}

.citation-text > .tags {
  display: inline-flex;
  justify-content: flex-start;
  margin: 0;
}

// Mobile styles
@media (max-width: $wrap) {
  .citation {
    flex-direction: column;
    align-items: center; // Center-aligns entire citation content on mobile
  }

  .citation-image {
    width: 100%;
    height: auto;
    max-width: 70%;
    aspect-ratio: 16 / 9; // Switch to 16:9 aspect ratio on mobile
    display: flex;
    justify-content: center;
    margin-bottom: 10px; // Add slight spacing below the image
  }

  .citation-image img {
    position: static; // Allow natural positioning on mobile
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .citation-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}
