{% assign image = page.footer | default: site.footer | relative_url %}
{% assign dark = page.footer-dark | is_nil: site.footer-dark | is_nil: true %}

<footer
  class="background"
  style="--image: url('{{ image }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  data-size="wide"
>

<div style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; max-width: 100%; margin: 0 auto; padding: 0 0px;">
  <div style="flex: 1; text-align: left; min-width: 300px; padding-right: 20px;">
    Contact <a href="{{ site.baseurl }}/contact">GeoHAI</a> or the 
    <a href="{{ site.baseurl }}/members/morteza-karimzadeh.html">Director</a>
  </div>
  <div style="flex: 1; text-align: right; min-width: 300px; white-space: nowrap; padding-top: 0px;">
    &copy; {{ site.time | date: "%Y" }} {{ site.title }}
    &nbsp; | &nbsp; Source forked from 
    <a href="https://github.com/greenelab/lab-website-template" target="_blank">LWT</a>
  </div>
</div>

  <!-- removing the links for now. -->
  <!-- <div>
    {% for link in site.links %}
      {% assign key = link[0] %}
      {% assign value = link[1] %}
      {% include button.html type=key text="" link=value style="bare" %}
    {% endfor %}
  </div> -->

  <!-- moved to the contact page -->
  <!-- <div>
    &copy; {{ site.time | date: "%Y" }}
    {{ site.title }}
    &nbsp; | &nbsp; Built with
    <a href="https://github.com/greenelab/lab-website-template">
      Lab Website Template
    </a>
  </div> -->

  <input
    type="checkbox"
    class="dark-toggle"
    data-tooltip="Dark mode"
    aria-label="toggle dark mode"
    oninput="onDarkToggleChange(event)"
  >
</footer>
