<!-- <div class="project-info">
  {% if include.authors %}
    {% assign author = include.author | split: "," %}
      {% for auth in author %}
        {% assign member = site.members
          | where_exp: "member", "member.slug == auth"
          | first
        %}
        {% if member %}
          {% include project-portrait.html lookup=auth style="tiny" %}
        {% else %}
          <span data-tooltip="Author">
            {% include icon.html icon="fa-solid fa-feather-pointed" %}
            <span>{{ auth }}</span>
          </span>
        {% endif %}
      {% endfor %}  
  {% endif %}
</div>
  
{% if include.tags %}
  {% include tags.html tags=include.tags link="projects" %}
{% endif %} -->
<!-- 
<div class="project-info">
  {% if include.authors %}
    {% for auth in include.authors %}
      {% assign member = site.members
        | where_exp: "member", "member.slug == auth"
        | first
      %}
      {% if member %}
        {% include project-portrait.html lookup=auth style="tiny" %}
      {% else %}
        <span data-tooltip="Author">
          {% include icon.html icon="fa-solid fa-feather-pointed" %}
          <span>{{ auth }}</span>
        </span>
      {% endif %}
    {% endfor %}
  {% endif %}
</div> -->

<div class="project-info">
  {% if include.authors %}
    {% for auth in include.authors %}
      {% assign member = site.members
        | where_exp: "member", "member.slug == auth"
        | first
      %}
      {% if member %}
        {% include project-portrait.html lookup=auth style="tiny" %}
      {% else %}
        <span data-tooltip="Author">
          {% include icon.html icon="fa-solid fa-feather-pointed" %}
          <span>{{ auth }}</span>
        </span>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>


{% if include.tags %}
  {% include tags.html tags=include.tags link="projects" %}
{% endif %}
